@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');

body {
    background-color: lightgray;
}

h2 {
    text-align: center;
    font-size: 30px;
}

table {
    border: 2px solid darkblue;
    width: 650px;
    margin: 0 auto;
}

thead {
    background-color: cyan;
}

td {
    border: 2px solid darkorchid;
    border-top: solid darkorchid;
    width: 650px;
    margin: 0 auto;
}

#title {
    font-size: 50px;
    font-weight: bold;
    font-style: garamond;
    text-align: center;
    color: white;
    background-image: url("https://cdn.pixabay.com/photo/2017/08/30/01/05/milky-way-2695569_1280.jpg");
}

.code {
    font-family: monospace;
    background-color: beige;
    text-align: center;
}

.tag {
    text-align: center;
}

/* The below is the styling for the nav bar */
.container {
	width: 80%;
	margin: 0 auto;
}

header {
    background: cyan;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 35px;
    position: relative;
}

nav a {
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
}

nav a:hover {
  color: #000;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #444;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}